<div class="row statistic-cards-row">
  <div class="card border-info col p-3 m-3">
    <div class="card-body text-info">
      <h5 class="card-title">{{ totalConfirmedCases }}</h5>
      <p class="card-text">CONFIRMED</p>
    </div>
  </div>
  <div class="card border-danger col p-3 m-3">
    <div class="card-body text-danger">
      <h5 class="card-title">{{ totalDeathCases }}</h5>
      <p class="card-text">DEATHS</p>
    </div>
  </div>
  <div class="card border-success col p-3 m-3">
    <div class="card-body text-success">
      <h5 class="card-title">{{ totalRecoveredCases }}</h5>
      <p class="card-text">RECOVERED</p>
    </div>
  </div>
  <div class="card border-warning col p-3 m-3">
    <div class="card-body text-warning">
      <h5 class="card-title">{{ totalActiveCases }}</h5>
      <p class="card-text">ACTIVE</p>
    </div>
  </div>
</div>
